.gray{
    background-color: rgb(201, 201, 201);
}
.hidden.active {
    height: 2rem;
    opacity: 1;
    visibility: visible;
}
.hidden {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}
#event{
    cursor: pointer;
}