body{
    background-color: #e3f6f5;
    font-family: "Sawarabi Gothic"; 
}
button{
    background-color: #f5e1e2;
    border:none;
    border-radius: 10px;
    height: 5vh;
    width:20vw;
    color: black;
}
#deleteMember{
    width:60vw;
}
.submitButton{
    background-color: #f5e1e2;
    border: none;
    border-radius: 10px;
    height: 5vh;
    width:20vw;
    color: black;
}
div{
    background-color: #fffffe;
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
ul{
    margin:0;
    padding-left: 0;
}
li{
    list-style: none;
    background-color: antiquewhite;
}
form{
    text-align: center;
}
input[type="text"] {
  font-size: 16px;
  transform: scale(0.8);
}
input[type="number"] {
  font-size: 16px;
  transform: scale(0.8);
}
div#header{
    height: auto;
    font-size: 5vw;
}
#event #showMember{
    cursor: pointer;
}
.triangleBefore::before{
    content: '▼';
    display: inline-block;
    transform: rotate(-90deg);
    transition: .4s;
}
.triangleBefore.active::before {
    transform: rotate(0deg);
}
#createEvent{
    margin-top: 10%;
}
.floatLeft{
    float: left;
    padding-left: 2vw;
}
.hidden.active {
    height: 2rem;
    opacity: 1;
    visibility: visible;
}
.hidden {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}
.green{
    background-color: #e2f5e1;
}
@media screen and (min-width:960px) {
    button{
        height: 5vh;
        width:10vw;
    }
    .submitButton{
        height: 5vh;
        width:10vw;
    }
    #deleteMember{
        width:20vw;
    }
    div{
        margin-right: 15%;
        margin-left: 15%;
    }
    div#header{
        font-size: 2vw;
    }
}
